<app-banner></app-banner>

<div
  class="page-container"
  *ngIf="globalVars.inTab || globalVars.webview || globalVars.callback"
>
  <div class="title-text mb-20px">Log in to {{ globalVars.hostname }}</div>

  <p class="main-text mb-10px">
    Enter your DeSo seed phrase to load your account
  </p>

  <div *ngIf="loginError" class="alert alert-danger mb-10px">
    {{ loginError }}
  </div>

  <div class="text-input-container">
    <textarea
      [(ngModel)]="mnemonic"
      class="text-input"
      rows="3"
      placeholder="Enter your DeSo seed phrase"
      style="height: 100px;"
    ></textarea>
  </div>

  <div class="main-text mb-10px">
    If you have a passphrase, enter it below.
  </div>
  <div class="text-input-container">
    <textarea
      [(ngModel)]="extraText"
      class="text-input"
      rows="3"
      placeholder="Enter your passphrase"
      style="height: 100px;"
    ></textarea>
  </div>

  <div *ngIf="!advancedOpen" (click)="advancedOpen = true" class="link mb-20px">
    <u>Enter seed hex</u>
  </div>
  <div *ngIf="advancedOpen" (click)="advancedOpen = false" class="link mb-20px">
    <u>Hide seed hex</u>
  </div>

  <div *ngIf="advancedOpen" class="main-text mb-10px">
    If you have a seed hex instead of a seed phrase, enter it below.
  </div>
  <div *ngIf="advancedOpen" class="text-input-container">
    <textarea
      [(ngModel)]="seedHex"
      class="text-input"
      rows="2"
      placeholder="Enter your seed hex"
      style="height: 80px;"
    ></textarea>
  </div>

  <button
    (click)="clickLoadAccount()"
    class="button button-primary button-large mt-20px"
  >
    Load Account
  </button>
</div>
