<div class="identity-banner w-100" *ngIf="!globalVars.webview">
  <div
    class="d-flex justify-content-between h-100 align-items-center banner-margin"
  >
    <img src="/assets/img/logo-192.png" class="home-logo" />
    <div
      class="fs-18px font-weight-semibold d-flex align-items-center verify-site-banner"
    >
      <span class="fc-title">Make sure the URL address is: </span>
      <div>
        <span class="fc-green ml-5px">{{
          globalVars.environment.hostname
        }}</span>
      </div>
    </div>
  </div>
</div>
