<app-banner></app-banner>

<div
  class="container home-container text-center"
  *ngIf="globalVars.inTab || globalVars.webview"
>
  <div class="fs-18px main-text">
    Authorize <b>{{ globalVars.hostname }}</b> to:
  </div>

  <ul class="list-group list-group-flush mt-15px">
    <li class="list-group-item">
      <span *ngIf="globalVars.accessLevelRequest >= 2">✅</span>
      <span *ngIf="globalVars.accessLevelRequest < 2">❌</span>
      <span title="Allow reading my public key and use profile information?">
        &nbsp;Identify me using on-chain data
      </span>
    </li>
    <li class="list-group-item">
      <span *ngIf="globalVars.accessLevelRequest >= 3">✅</span>
      <span *ngIf="globalVars.accessLevelRequest < 3">❌</span>
      <span title="Skip approval of social transactions like creating a post, sending a message, adding a like, follow, ...)?">
        &nbsp;Skip confirmations for social activity
      </span>
    </li>
    <li class="list-group-item">
      <span *ngIf="globalVars.accessLevelRequest === 4">✅</span>
      <span *ngIf="globalVars.accessLevelRequest < 4">❌</span>
      <span title="Skip approval of user requested transactions like buying or selling coins?">
        &nbsp;Skip confirmations for all user activity
      </span>
    </li>
  </ul>

  <app-account-select (onAccountSelect)="onAccountSelect($event)"></app-account-select>
  <app-log-in-options></app-log-in-options>

</div>